.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-mic {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}
.icon-location_on {
  width: 24px;
  height: 24px;
  background-position: -40px 0;
}
.icon-account_circle {
  width: 24px;
  height: 24px;
  background-position: -80px 0;
}
.icon-emoji_food_beverage {
  width: 24px;
  height: 24px;
  background-position: -120px 0;
}
.icon-sports_mma {
  width: 24px;
  height: 24px;
  background-position: -160px 0;
}

